.data__Table{
    height: 600px;
    padding: 20px;
        .data__Title{
            width: 100%;
            font-size: 24px;
            color: #D8E9A8;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .link__Button{
                text-decoration: none;
                color: #1E5128;
                font-size: 16px;
                font-weight: 400;
                border: 1px solid #1E5128;
                border-radius: 5px;
                padding: 4px;
                cursor: pointer;

                &:hover{
                    background-color: #D8E9A8;
                }
            }
        }



    .cell__WithImg{
        display: flex;
        align-items: center;
        .cell__Img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }
    .cell__WithStatus{
        padding: 5px;
        border-radius: 5px;

        &.active {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }

        &.passive {
            color: crimson;
            background-color: rgba(255, 0, 0, 0.05);
        }

        &.pending {
            color: goldenrod;
            background-color: rgba(189, 189, 3, 0.103);
        }
    }
    .cell__Action{
        display: flex;
        align-items: center;
        gap: 15px;

        .view__Button{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0,0,139,0.596);
            cursor: pointer;
        }

        .delete__Button{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.6);
            cursor: pointer;
        }
    }
}
